.container {
  min-height: 300vh;
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 600px) {
  .container {
    min-height: 200vh;
  }
}

.link {
  display: flex;
  align-items: center;
  margin: 1em;
}

.link img {
  width: 32px;
}

.link span {
  margin-left: 1em;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
